html {
  font-family: sans-serif;
  font-size: calc(6px + 1vmin);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

svg#sheet {
  display: none;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #00CCFF;
  color: #fff;

  > *+* {
    margin-top: 1rem;
  }

  svg {
    width: 10rem;
    height: 10rem;
    fill: #fff;
  }

  h1 {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    padding: 0 1rem;
    max-width: 36ex;
    line-height: 138%;
  }

  a {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: .1rem;
    opacity: .8;

    &:hover {
      opacity: 1;
    }

    > *+* {
      margin-left: 1rem;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
